<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="icon" type="image/png" href="~/favicon.png" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>
<body>
	<main class="app-frame" role="application">
		@RenderBody()
	</main>
</body>
</html>
