@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<h1>Error</h1>
<p>Something went wrong.</p>

@if (Model.ShowRequestId)
{
	<p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
}
